.cproject
.project
.autotools
.settings
.deps
.libs
*~
*.o
aclocal.m4
/autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
libtool
Makefile
Makefile.in
Makefile.msc
missing
texinfo.tex