#Eclipse
.cproject
.project
.autotools
.settings

#Autotools
autom4te.cache
.deps
.libs
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.msc
missing

#Compiler
*.o

#Temp
*~