#Eclipse
.cproject
.project
.autotools
.settings

#Autotools
autom4te.cache
.deps
.libs
aclocal.m4
compile
config.guess
config.h.in
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.msc
missing

#Compiler/Building
*.o
/build-*

#Temp
*~